{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Edit Todo
        </div>
        <div class="card-body">
            <form id="editTodoForm">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" value="{{ todo.title }}" required>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="description" rows="3" required>{{ todo.description }}</textarea>
                </div>
                <div class="form-group">
                    <label>Priority</label>
                    <select class="form-control" name="priority">
                        {% for i in range(1, 6) %}
                        <option value="{{ i }}" {% if todo.priority == i %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class= "form-check-input" name="complete" {% if todo.complete %}checked{% endif %}>
                    <label class="form-check-label">Complete</label>
                </div>
                <button type="submit" class="btn btn-primary">Update Todo</button>
                <button type="button" class="btn btn-danger" id="deleteButton">Delete</button>
                <a href="/todos/todo-page" class="btn btn-success">Back</a>
            </form>
        </div>
    </div>
</div>